.addProductStyle {
  margin-bottom: 10px;
  width: 100%;
}
.removeColumn{
  width: 5%;
}
.removebutton{
  font-size: 0.6rem !important;
  border-radius: .50rem !important;
}
.totalCard{
  margin-left:75%;
}
.searchStyle{
  margin-bottom: 1%;
}
.app{
  width:80%;
  margin:auto;
  margin-top: 10%;
}
.flaot{
  float: right;
}